---
import Layout from '../layouts/Layout.astro';                                                                       
import Header from '../components/Header.astro';
import Nav from '../components/Nav.astro';
---

<Layout title="Welcome to TFT.">
		<Header title='Welcome to TFT Guide'>
		</Header> 
		<div class="box">
			<h1>Como Jugar</h1>
			<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/Fr34ueBby4E?si=_AZbgeE_TxjdQJoU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
		</div>
</Layout>

<style>
	h1 {
		color: white;
		font-size: 3em;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.video{
		width: 50%;
		height: 50vh;
	}
</style>
