---
interface Props {
    data : any
}

const { data } = Astro.props;

console.log(data)

// ``let img_url = `https://raw.communitydragon.org/latest/game/${champ_img.substring(0,champ_img.length - 3)+"png"}`.toLowerCase();``
---


<div class="stats"> </div>


<div class="abilities"></div>

